/*
* Draw the card
*/
.standard {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='318' height='198'><rect rx='0' ry='0' fill='#fff' x='0' y='8' width='100%' height='100%' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#ccc' x='50%' y='16' width='200' height='120' transform='translate(-100, 0)' /> <rect rx='0' ry='0' fill='#eee' x='50%' y='148' width='270' height='16' transform='translate(-135, 0)' /> <rect rx='0' ry='0' fill='#eee' x='50%' y='168' width='220' height='16' transform='translate(-110, 0)' /></svg>");
  background-repeat: repeat;
  min-height: 100vh;
}
/*
* Control it
*/
.control {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='318' height='198'><rect rx='0' ry='0' fill='#fff' x='0' y='8' width='100%' height='100%' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#ccc' x='50%' y='16' width='200' height='120' transform='translate(-100, 0)' /> <rect rx='0' ry='0' fill='#eee' x='50%' y='148' width='270' height='16' transform='translate(-135, 0)' /> <rect rx='0' ry='0' fill='#eee' x='50%' y='168' width='220' height='16' transform='translate(-110, 0)' /></svg>");
  background-size: 33.333%;
  background-repeat: repeat;
  min-height: 100vh;
}
/*
* Control it
*/
.facebook {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='300'><rect rx='0' ry='0' fill='#fff' x='0' y='8' width='100%' height='100%' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#ccc' x='16' y='16' width='100' height='100' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#eee' x='126' y='24' width='20%' height='16' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#eee' x='126' y='72' width='15%' height='16' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#eee' x='16' y='140' width='70%' height='16' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#eee' x='16' y='180' width='80%' height='16' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#eee' x='16' y='216' width='50%' height='16' transform='translate(0, 0)' /></svg>");
  min-height: 100vh;
}
.youtube {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='208'><rect rx='0' ry='0' fill='#ccc' x='8' y='8' width='100%' height='120' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#ccc' x='8' y='138' width='100%' height='30' transform='translate(0, 0)' /> <rect rx='0' ry='0' fill='#ccc' x='8' y='100%' width='60%' height='30' transform='translate(0, -30)' /></svg>");
  background-size: 20%;
  background-repeat: repeat-x;
  min-height: 100vh;
}
