.ft-1:empty {
  background-size: 100%;
}
.ft-2:empty {
  background-size: 50%;
}
.ft-3:empty {
  background-size: 33.333%;
}
.ft-4:empty {
  background-size: 25%;
}
.ft-5:empty {
  background-size: 20%;
}
.ft-6:empty {
  background-size: 16%;
}
.ft-7:empty {
  background-size: 14.285%;
}
.ft-8:empty {
  background-size: 12.5%;
}
@media (max-width: 1200px) {
  .ft-xl-1:empty {
    background-size: 100%;
  }
  .ft-xl-2:empty {
    background-size: 50%;
  }
  .ft-xl-3:empty {
    background-size: 33.333%;
  }
  .ft-xl-4:empty {
    background-size: 25%;
  }
  .ft-xl-5:empty {
    background-size: 20%;
  }
  .ft-xl-6:empty {
    background-size: 16%;
  }
  .ft-xl-7:empty {
    background-size: 14.285%;
  }
  .ft-xl-8:empty {
    background-size: 12.5%;
  }
}
@media (max-width: 992px) {
  .ft-md-1:empty {
    background-size: 100%;
  }
  .ft-md-2:empty {
    background-size: 50%;
  }
  .ft-md-3:empty {
    background-size: 33.333%;
  }
  .ft-md-4:empty {
    background-size: 25%;
  }
  .ft-md-5:empty {
    background-size: 20%;
  }
  .ft-md-6:empty {
    background-size: 16%;
  }
  .ft-md-7:empty {
    background-size: 14.285%;
  }
  .ft-md-8:empty {
    background-size: 12.5%;
  }
}
@media (max-width: 768px) {
  .ft-sm-1:empty {
    background-size: 100%;
  }
  .ft-sm-2:empty {
    background-size: 50%;
  }
  .ft-sm-3:empty {
    background-size: 33.333%;
  }
  .ft-sm-4:empty {
    background-size: 25%;
  }
  .ft-sm-5:empty {
    background-size: 20%;
  }
  .ft-sm-6:empty {
    background-size: 16%;
  }
  .ft-sm-7:empty {
    background-size: 14.285%;
  }
  .ft-sm-8:empty {
    background-size: 12.5%;
  }
}
@media (max-width: 576px) {
  .ft-xs-1:empty {
    background-size: 100%;
  }
  .ft-xs-2:empty {
    background-size: 50%;
  }
  .ft-xs-3:empty {
    background-size: 33.333%;
  }
  .ft-xs-4:empty {
    background-size: 25%;
  }
  .ft-xs-5:empty {
    background-size: 20%;
  }
  .ft-xs-6:empty {
    background-size: 16%;
  }
  .ft-xs-7:empty {
    background-size: 14.285%;
  }
  .ft-xs-8:empty {
    background-size: 12.5%;
  }
}
.ft-full:empty {
  background-size: cover;
}
.ft-single:empty {
  background-repeat: no-repeat;
}
.ft-single-row:empty {
  background-repeat: repeat-x;
}
.ft-single-column:empty {
  background-repeat: repeat-y;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Gaegu', cursive;
}
h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;
}
h2 {
  font-weight: 300;
  font-family: sans-serif;
}
h3 {
  font-family: 'Gaegu', cursive;
  font-size: 30px;
  font-weight: bold;
}
.sample {
  display: flex;
  flex-flow: row wrap;
}
.sample h3 {
  flex: 0 0 100%;
}
.sample ul {
  flex: 1 1 auto;
}
/*
* ft-products
*/
.ft-products {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='318' height='198'><defs><linearGradient id='shiny'><stop offset='0%' stop-color='white'></stop><stop offset='100%' stop-color='black'><animate attributeName='offset' from='0' to='1' dur='2.5s' repeatCount='indefinite' /></stop><stop offset='100%' stop-color='white'></stop></linearGradient><mask id='shining'><rect x='0' y='0' width='200%' height='100%' fill='url(%23shiny)' /></mask></defs><rect rx='0' fill='%23fff' x='0' y='8' transform='translate(0, 0)' width='100%' height='100%' /> <rect mask='url(%23shining)' rx='5' fill='%23ccc' x='50%' y='16' transform='translate(-100, 0)' width='200' height='120' /> <rect rx='0' fill='%23eee' x='50%' y='148' transform='translate(-135, 0)' width='270' height='16' /> <rect rx='0' fill='%23eee' x='50%' y='168' transform='translate(-110, 0)' width='220' height='16' /></svg>");
}
/*
* ft-posts
*/
.ft-posts {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='300'><defs><linearGradient id='shiny'><stop offset='0%' stop-color='white'></stop><stop offset='100%' stop-color='black'><animate attributeName='offset' from='0' to='1' dur='2.5s' repeatCount='indefinite' /></stop><stop offset='100%' stop-color='white'></stop></linearGradient><mask id='shining'><rect x='0' y='0' width='200%' height='100%' fill='url(%23shiny)' /></mask></defs><rect rx='0' fill='%23fff' x='0' y='8' transform='translate(0, 0)' width='100%' height='100%' /> <rect rx='0' fill='%23ccc' x='16' y='16' transform='translate(0, 0)' width='100' height='100' /> <rect rx='0' fill='%23eee' x='126' y='24' transform='translate(0, 0)' width='20%' height='16' /> <rect rx='0' fill='%23eee' x='126' y='72' transform='translate(0, 0)' width='15%' height='16' /> <rect rx='0' fill='%23eee' x='16' y='140' transform='translate(0, 0)' width='70%' height='16' /> <rect rx='0' fill='%23eee' x='16' y='180' transform='translate(0, 0)' width='80%' height='16' /> <rect rx='0' fill='%23eee' x='16' y='216' transform='translate(0, 0)' width='50%' height='16' /></svg>");
}
.ft-profile {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><defs><linearGradient id='shiny'><stop offset='0%' stop-color='white'></stop><stop offset='100%' stop-color='black'><animate attributeName='offset' from='0' to='1' dur='2.5s' repeatCount='indefinite' /></stop><stop offset='100%' stop-color='white'></stop></linearGradient><mask id='shining'><rect x='0' y='0' width='200%' height='100%' fill='url(%23shiny)' /></mask></defs><circle fill='%23ccc' cx='46' cy='46' r='30' transform='translate(0, 0)' /> <rect rx='0' fill='%23ccc' x='90' y='30' transform='translate(0, 0)' width='100' height='8' /> <rect rx='0' fill='%23ccc' x='90' y='50' transform='translate(0, 0)' width='90' height='8' /></svg>");
}
/*
* ft.videos
*/
.ft-videos {
  background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='208'><defs><linearGradient id='shiny'><stop offset='0%' stop-color='white'></stop><stop offset='100%' stop-color='black'><animate attributeName='offset' from='0' to='1' dur='2.5s' repeatCount='indefinite' /></stop><stop offset='100%' stop-color='white'></stop></linearGradient><mask id='shining'><rect x='0' y='0' width='200%' height='100%' fill='url(%23shiny)' /></mask></defs><rect rx='0' fill='%23ccc' x='8' y='8' transform='translate(0, 0)' width='100%' height='120' /> <rect rx='0' fill='%23ccc' x='8' y='138' transform='translate(0, 0)' width='100%' height='30' /> <rect rx='0' fill='%23ccc' x='8' y='100%' transform='translate(0, -30)' width='60%' height='30' /></svg>");
}
.ft-toolbar {
  background: #00f url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='130'><defs><linearGradient id='shiny'><stop offset='0%' stop-color='white'></stop><stop offset='100%' stop-color='black'><animate attributeName='offset' from='0' to='1' dur='2.5s' repeatCount='indefinite' /></stop><stop offset='100%' stop-color='white'></stop></linearGradient><mask id='shining'><rect x='0' y='0' width='200%' height='100%' fill='url(%23shiny)' /></mask></defs><rect mask='url(%23shining)' rx='5' fill='rgba(0,0,0,0.2)' x='20' y='40' transform='translate(0, 0)' width='280' height='40' /> <circle fill='rgba(0,0,0,0.2)' cx='60' cy='110' r='20' transform='translate(0, 0)' /> <rect rx='0' fill='rgba(0,0,0,0.2)' x='90' y='100' transform='translate(0, 0)' width='190' height='20' /></svg>");
}
