@require '../index.styl'
body
    background #eee url(
            svg(318, 198, 
                rect(100%, 100%, 0, 8, #ffffff), 
                rect(200, 120, center, 16, #ccc),
                rect(270, 16, center, 148, #eee), 
                rect(220, 16, center, 168, #eee)
            )
        );
    background-repeat repeat
    min-height: 100vh