@require '../'

body
    max-width 1200px
    margin 0 auto
    > ul 
        min-height: 100vh

/*
* ft-products
*/
.ft-products
    background #eee url(
            fityme(318, 198, 
                rect(100%, 100%, 0, 8, #ffffff), 
                rect(200, 120, center, 16, #ccc, 5, true),
                rect(270, 16, center, 148, #eee), 
                rect(220, 16, center, 168, #eee)
            )
        );

/*
* ft-posts
*/
.ft-posts
    background #eee url(
            fityme(100%, 300, 
                rect(100%, 100%, 0, 8, #ffffff), 
                sqr(100, 16, 16, #ccc),
                rect(20%, 16, 126, 24, #eee), 
                rect(15%, 16, 126, 72, #eee), 
                rect(70%, 16, 16, 140, #eee),
                rect(80%, 16, 16, 180, #eee),
                rect(50%, 16, 16, 216, #eee)
            )
        );

.ft-profile
    background #eee url(
            fityme(200, 200,
                circle(30, 16, 16, #ccc),
                rect(100, 8, 90, 30, #ccc), 
                rect(90, 8, 90, 50, #ccc)
            )
        );

/*
* ft.videos
*/
.ft-videos
    background #eee url(
            fityme(300, 208, 
                rect(100%, 120, 8, 8, #ccc),
                rect(100%, 30, 8, 138, #ccc), 
                rect(60%, 30, 8, bottom, #ccc)
            )
        );




